{% extends 'base.html' %}

{% block content %}
    <div class="container jumbotron navbackground" style="margin-top: 4.7vh">
        <h1>关于</h1>
        <h2>一、团队背景</h2>
        <p style="font-size: 24px">
            在数字时代的大潮中，我们聚集于此，带着对网页设计的热爱与激情，共同组建了这支年轻的团队一一"miracleClub"。我们诞生于大学校园，是创意与技术的结晶，立志在网页设计领域开辟出属于自己的一片天地。
        </p>
        <h2>二、成员组成及团队协作</h2>
        <p style="font-size: 24px">
            我们的团队由三名成员组成，他们是： 朱自林 （负责项目管理兼后端开发）, 郭影（负责前端开发及内容策划）, 王洪巧 （负责logo设计及内容策划）, 我们虽然来自不同的专业，但共同的热爱让我们走到了一起，也让我们都具备了从0到1的开发能力。在团队协作方面，我们根据自身能力基础灵活调整工作流程，各司其职，确保项目高效进行。
        </p>
        <h2>三、团队精神</h2>
        <p style="font-size: 24px">
            在数字世界的旅程中，"miracleClub"将带着勇气和热情，迎接每一个挑战。我们期待在这个平台上，展现我们的才华，与各位共同创造美好的数字未来。
        </p>
        <h2>四、项目理念 </h2>
        <p style="font-size: 24px">
            让用户能够快速了解校园文化，感受校园风采，获得良好的体验。用户可通过发布作品，展示自己的所见所闻，其他用户也可以参与互动，评论，点赞，转发。
        </p>
        <h2>五、制作历程 </h2>
        <p style="font-size: 24px">
            11月6日组建团队、进行分工，12月17日确定网页主题，并进行一定的代码编写，12月18日设logo，构思微调网页布局，12月19日创作文案，12月24日完成创作
        </p>
    </div>
    
{% endblock %}