{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>橘子青柠.COM</title>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-4.6.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-icons-1.11.2/font/bootstrap-icons.css' %}">
    <style>
        {% block css %}
        {% endblock %}
    </style>
</head>
<body>
    {% block content%}
    
    
    {% endblock %}


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'plugin/bootstrap-4.6.2-dist/js/bootstrap.min.js' %}"></script>

{% block js %}
    
{% endblock %}
</body>
</html>